<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        title Login
    body
        h1 Login
        form(action="/auth/login" method="post")
            p
                input(type="text" name="username" placeholder="username")
            p
                input(type="password" name="password" placeholder="password")
            p
                input(type="submit" value="Log in")